{% extends "global/base.html" %}
{% block content %}
<div class="user-details-container">
    <div class="user-details-card">
        <h1 class="user-name">{{ contact.first_name }} {{ contact.last_name }}</h1>
        <div class="user-info">
            <p><span>📞 Telefone:</span> {{ contact.phone }}</p>
            <p><span>📧 E-mail:</span> {{ contact.email }}</p>
            <p><span>📝 Descrição:</span></p>
            <p class="user-description">{{ contact.description }}</p>
        </div>

        <div class="buttons-form" style="display:flex; gap:10px;">
            <a href="{% url 'contact:users' %}" class="back-button">Voltar</a>
            <a href="{% url 'contact:update' contact.id %}" class="back-button">Atualizar</a>

            <!-- Form de exclusão -->
            <form method="post" action="{% url 'contact:delete' contact.id %}" style="display:inline;">
                {% csrf_token %}
                <button style="border: None; height: 5.4vh;" type="submit" class="back-button" style="background-color:#d9534f;">
                    Excluir
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
