{% extends "global/base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="very-form">
        <div style="display: flex; align-items: center; width: 50%; flex-direction: column; margin-top: 70px;">
            <label style="font-size: 4vh; font-weight: bold;" class="labels">Welcome</label>
            <label style="font-size: 3.5vh; font-weight: 300;" class="labels">Task Manager</label>
        </div>

        <form id="userForm" class="form">
            <div class="space">
                <label style="margin-bottom: 20px;" class="create_title">Create Account</label>

                <div style="align-items: center; display: flex; flex-direction: column; gap: 5px;">
                    <div class="block_orientation">    
                        <label class="labels" for="login-id">Login</label>
                        <input id="login-id" name="username" class="inputs_form" type="text">                            
                    </div>    
                    <div class="block_orientation">    
                        <label class="labels" for="password-id">Senha</label>
                        <input type="password" id="password-id" name="password" class="inputs_form">
                    </div>
                </div>

                <label style="color: white; font-weight: lighter; font-size: 1.3vh; text-decoration: underline; cursor: pointer;">
                    Esqueci minha senha
                </label>

                <div class="buttons-form">
                    <button id="loginBtn" type="submit" class="form-button">Login</button>
                    <button type="button" class="form-button">Register</button>
                </div>
            </div>
        </form>
    </div>
    <script 
        src="{% static 'global/scripts/script.js' %}">
    </script>
</div>

{% endblock content %}
